@model List<DoAnShopDongHo.Models.CartItem>

<ul class="nav__icons">
    <a href="#" class="icon__item">
        <svg>
            <use xlink:href="./images/sprite.svg#icon-search"></use>
        </svg>
    </a>

    <a href="#" class="icon__item">
        <svg>
            <use xlink:href="./images/sprite.svg#icon-user"></use>
        </svg>
    </a>

    <a href="#" class="icon__item" id="cart">
        <svg>
            <use xlink:href="./images/sprite.svg#icon-shopping-basket"></use>
        </svg>
        <span>@Model.Count</span>
    </a>
</ul>

