@model List<DoAnShopDongHo.Models.CartItem>

<ul class="nav__icons">
    <li>
        <a href="#" class="icon__item">
            <svg>
                <use xlink:href="/Assets/Client/images/sprite.svg#icon-search"></use>
            </svg>
        </a>
    </li>
    
    <li>
        <a href="#" class="icon__item">
            <svg>
                <use xlink:href="/Assets/Client/images/sprite.svg#icon-user"></use>
            </svg>
        </a>
    </li>
    
    <li>
        <a href="#" class="icon__item" id="cart">
            <svg>
                <use xlink:href="/Assets/Client/images/sprite.svg#icon-shopping-basket"></use>
            </svg>
            <span>@Model.Count</span>
        </a>
    </li>
    
</ul>

