@model DoAnShopDongHo.Areas.Admin.Models.LoginModels
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="/Assets/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/Assets/Admin/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/Assets/Admin/css/style.css" rel="stylesheet" />

</head>

<body class="bg-gradient-primary">

    <section>
        <div class="box">
            <div class="form">
                <h2>Login</h2>
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    <form action="">
                        <div class="inputBx">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control form-control-user", @autofocus = "autofocus", @placeholder = "Username" })
                            <img src="" alt="">
                        </div>
                        <div class="inputBx">
                            @Html.PasswordFor(model => model.PassWord, new { @class = "form-control form-control-user", @placeholder = "Password" })
                            <img src="" alt="">
                        </div>
                        <label for="" class="remeber">
                            <input type="checkbox">Remember Me
                        </label>
                        <div class="inputBx">
                            <input type="submit" value="Login">
                        </div>
                    </form>
                }

                <p>Forget <a href="#">Password</a></p>
                <p>Need an <a href="#">Account</a></p>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript-->
    <script src="/Assets/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/Assets/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/Assets/Admin/js/sb-admin-2.min.js"></script>

</body>

</html>
