@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="" style="text-align:center;margin-top:50px;">
        <h1>Trang wen này Không tồn tại</h1>
    </div>
</body>
</html>
